{{=<% %>=}}
{{出版物信息
<%={{ }}=%>
|图片={{mainImage}}
|书名={{name}}
|全名={{fullname}}
|作者={{author}}
|译者={{translator}}
|编者={{editor}}
|出版={{publisher}}
|定价={{price}}
|日期={{date}}
|开本={{size}}
|尺寸={{dimension}}
|页码={{pages}}
|字数={{words}}
|纸张={{paper}}
|包装={{package}}
|书号={{isbn}}
}}

'''{{fullname}}'''是一本羊羊图书。

{{#description}}
=== 简介 ===
{{description}}{{{ref}}}

{{/description}}
{{#contents}}
=== 目录 ===
* {{contents}}

{{/contents}}
{{#sample}}
=== 试读 ===
<gallery>
{{sample}}
</gallery>

{{/sample}}
{{#gallery}}
=== 图册 ===
<gallery>
{{gallery}}
</gallery>

{{/gallery}}