{{周边信息
|版权=<<copyright>>
|尺寸=<<size>>
|定价=<<price>>
|货号=<<itemNumber>>
|链接（哔哩哔哩会员购）=<<&bilibiliLink>>
|链接（当当网）=<<&dangdangLink>>
|链接（京东）=<<&jdLink>>
|链接（乐乎市集）=<<&lehuLink>>
|链接（奇货）=<<&qiHuoLink>>
|链接（淘宝）=<<&taobaoLink>>
|链接（天猫）=<<&tmallLink>>
|链接（玩具反斗城）=<<&toysRUsLink>>
|链接（小红书）=<<&xiaohongshuLink>>
|链接（新浪微博）=<<&weiboLink>>
|品牌=<<brand>>
|日期=<<date>>
|适龄=<<ageGroup>>
|条码=<<barcode>>
|主题=<<feature>>
}}

<gallery>
<<mainImages>>
</gallery>

{{长图|<<descImages>>}}
